

<p *ngIf="loading"> Loading ... <span class="fa fa-sync fa-spin"></span></p>

<div *ngIf="errorUi" class="alert alert-danger mt-5" role="alert">
  <h4 class="alert-heading">Error</h4>
  <p>{{errorMessage}}</p>
  <hr>
  <p class="mb-0">Error Spotify.</p>
</div>

<div *ngIf="playlists.length == 0" class="alert alert-warning mt-5" role="alert">
  No hay listas de reproducción para esta categoría.
</div>

<app-render-cards [items]="playlists" [endPointLocalName]="'playlist'" [imageNameProperty]="'images'"></app-render-cards>
