<p *ngIf="loading"> Loading ... <span class="fa fa-sync fa-spin"></span></p>

<div *ngIf="!loading" class="row mt-5 mb-5">
  <div class="col-6">
    <img class="mb-2" [src]="artist | imageValidator:'images':0" width="400">
    <p>{{artist.name}}</p>
    <p>Followers: {{artist.followers.total | number}}</p>
    <p>Popularidad: {{artist.popularity | number}}</p>
    <p>Genres: {{artist.genres.toString()}}</p>
    <a [href]="['/search']" class="btn btn-outline-info">Regresar</a>
  </div>
  <div class="col-6">
    <h4 class="text-center">Top-Tracks/ES</h4>
    <hr>
    <ul class="list-unstyled">
      <li class="media" *ngFor="let track of artistTopTracks">
        <!--<img [src]="track.album | imageValidator:'images':0" class="mr-3" width="100">-->

        <div class="media-body">
          <!--<h5 class="mt-0 mb-1">{{track.name}}</h5>
          -->
          <!--<audio *ngIf="track.preview_url" controls>
            <source [src]="track.preview_url" type="audio/mp3">
          </audio>-->
          <!--<iframe [src]="'spotify:album:1DFixLWuPkv3KT3TnV35m3'" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>-->
          Album: {{track.album.name}}
          <br>
          <iframe [src]="'https://open.spotify.com/embed/track/' | domseguro:track.id" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </div>
      </li>
    </ul>
  </div>

</div>
