<div class="input-group flex-nowrap mt-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="addon-wrapping">
      <span class="fa fa-search"></span>
    </span>
  </div>
  <input #term type="text" class="form-control" placeholder="Search Term" name="term" (keyup)="searchTerm(term.value)">
</div>

<p *ngIf="loading"> Loading ... <span class="fa fa-sync fa-spin"></span></p>

<app-render-cards [items]="artists" [endPointLocalName]="'artist'" [imageNameProperty]="'images'"></app-render-cards>
